## Data Analysis  
By: Hunter Hobbs  
07/23/2020

In [16]:
import pandas as pd
import glob, os

To check the serve-and-volley dataset, one must first fetch the code to scrap data from [ATP World Tour](https://www.atptour.com/) Tennis site. Run the following cells to fetch the repository and install any dependencies.

In [14]:
!git clone https://github.com/serve-and-volley/atp-world-tour-tennis-data

fatal: destination path 'atp-world-tour-tennis-data' already exists and is not an empty directory.

### Tournaments Data

In [49]:
HEADERS=["tourney_year_id",
              "tourney_order",
              "tourney_type",
              "tourney_name",
              "tourney_id",
              "tourney_slug",
              "tourney_location",
              "tourney_date",
              "year",
              "tourney_month",
              "tourney_day",
              "tourney_singles_draw",
              "tourney_doubles_draw",
              "tourney_conditions",
              "tourney_surface",
              "tourney_fin_commit_raw",
              "currency",
              "tourney_fin_commit",
              "tourney_url_suffix",
              "singles_winner_name",
              "singles_winner_url",
              "singles_winner_player_slug",
              "singles_winner_player_id",
              "doubles_winner_1_name",
              "doubles_winner_1_url",
              "doubles_winner_1_player_slug",
              "doubles_winner_1_player_id",
              "doubles_winner_2_name",
              "doubles_winner_2_url",
              "doubles_winner_2_player_slug",
              "doubles_winner_2_player_id"]

# import all 1_tournament CSVs from 1877 - 2019

folder_name = 'atp-world-tour-tennis-data/csv/1_tournaments/'
file_type = 'csv'
seperator =','
df = pd.concat([pd.read_csv(f, sep=seperator, header=None) for f in glob.glob(folder_name + "/*."+file_type)], ignore_index=True)
df.columns = HEADERS

In [50]:
df.head(4)

,tourney_year_id,tourney_order,tourney_type,tourney_name,tourney_id,tourney_slug,tourney_location,tourney_date,year,tourney_month,...,singles_winner_player_slug,singles_winner_player_id,doubles_winner_1_name,doubles_winner_1_url,doubles_winner_1_player_slug,doubles_winner_1_player_id,doubles_winner_2_name,doubles_winner_2_url,doubles_winner_2_player_slug,doubles_winner_2_player_id
0,2010-339,1,ATP 250,Brisbane,339.0,brisbane,Brisbane,2010.01.03,2010,1.0,...,andy-roddick,r485,Jeremy Chardy,/en/players/jeremy-chardy/ca12/overview,jeremy-chardy,ca12,Marc Gicquel,/en/players/marc-gicquel/g436/overview,marc-gicquel,g436
1,2010-451,2,ATP 250,Doha,451.0,doha,Doha,2010.01.04,2010,1.0,...,nikolay-davydenko,d402,Guillermo Garcia-Lopez,/en/players/guillermo-garcia-lopez/g476/overview,guillermo-garcia-lopez,g476,Albert Montanes,/en/players/albert-montanes/m824/overview,albert-montanes,m824
2,2010-891,3,ATP 250,Chennai,891.0,chennai,Chennai,2010.01.04,2010,1.0,...,marin-cilic,c977,Marcel Granollers,/en/players/marcel-granollers/g710/overview,marcel-granollers,g710,Santiago Ventura,/en/players/santiago-ventura/v251/overview,santiago-ventura,v251
3,2010-338,4,ATP 250,Sydney,338.0,sydney,Sydney,2010.01.11,2010,1.0,...,marcos-baghdatis,b837,Daniel Nestor,/en/players/daniel-nestor/n210/overview,daniel-nestor,n210,Nenad Zimonjic,/en/players/nenad-zimonjic/z072/overview,nenad-zimonjic,z072

In [45]:
df.shape

(4354, 31)

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4354 entries, 0 to 4353
Data columns (total 31 columns):
tourney_year_id                 4354 non-null object
tourney_order                   4354 non-null int64
tourney_type                    1394 non-null object
tourney_name                    4354 non-null object
tourney_id                      4351 non-null float64
tourney_slug                    4351 non-null object
tourney_location                4314 non-null object
tourney_date                    4353 non-null object
year                            4354 non-null int64
tourney_month                   4353 non-null float64
tourney_day                     4353 non-null float64
tourney_singles_draw            4354 non-null int64
tourney_doubles_draw            4354 non-null int64
tourney_conditions              4354 non-null object
tourney_surface                 4354 non-null object
tourney_fin_commit_raw          4035 non-null object
currency                        4035 non-null object
tourney_fin_commit              4035 non-null float64
tourney_url_suffix              4351 non-null object
singles_winner_name             4272 non-null object
singles_winner_url              4272 non-null object
singles_winner_player_slug      4272 non-null object
singles_winner_player_id        4272 non-null object
doubles_winner_1_name           3779 non-null object
doubles_winner_1_url            3779 non-null object
doubles_winner_1_player_slug    3779 non-null object
doubles_winner_1_player_id      3779 non-null object
doubles_winner_2_name           3777 non-null object
doubles_winner_2_url            3777 non-null object
doubles_winner_2_player_slug    3777 non-null object
doubles_winner_2_player_id      3777 non-null object
dtypes: float64(4), int64(4), object(23)
memory usage: 1.0+ MB

#### Tournaments data sparstiy  
  
As shown below, the `tourney_order` column is ~67% missing values, while several of the other columns range from ~7% - ~13.25% missing values.

In [54]:
# sparsity percentage of each column for tournaments data

df.isna().mean().round(4) * 100

tourney_year_id                  0.00
tourney_order                    0.00
tourney_type                    67.98
tourney_name                     0.00
tourney_id                       0.07
tourney_slug                     0.07
tourney_location                 0.92
tourney_date                     0.02
year                             0.00
tourney_month                    0.02
tourney_day                      0.02
tourney_singles_draw             0.00
tourney_doubles_draw             0.00
tourney_conditions               0.00
tourney_surface                  0.00
tourney_fin_commit_raw           7.33
currency                         7.33
tourney_fin_commit               7.33
tourney_url_suffix               0.07
singles_winner_name              1.88
singles_winner_url               1.88
singles_winner_player_slug       1.88
singles_winner_player_id         1.88
doubles_winner_1_name           13.21
doubles_winner_1_url            13.21
doubles_winner_1_player_slug    13.21
doubles_winner_1_player_id      13.21
doubles_winner_2_name           13.25
doubles_winner_2_url            13.25
doubles_winner_2_player_slug    13.25
doubles_winner_2_player_id      13.25
dtype: float64

### Match Scores Data

In [55]:
HEADERS=["tourney_year_id",
        "tourney_order",
        "tourney_name",
        "tourney_slug",
        "tourney_url_suffix",
        "start_date",
        "start_year",
        "start_month",
        "start_day",
        "end_date",
        "end_year",
        "end_month",
        "end_day",
        "currency",
        "prize_money",
        "match_index",
        "tourney_round_name",
        "round_order",
        "match_order",
        "winner_name",
        "winner_player_id",
        "winner_slug",
        "loser_name",
        "loser_player_id",
        "loser_slug",
        "winner_seed",
        "loser_seed",
        "match_score_tiebreaks",
        "winner_sets_won",
        "loser_sets_won",
        "winner_games_won",
        "loser_games_won",
        "winner_tiebreaks_won",
        "loser_tiebreaks_won",
        "match_id",
        "match_stats_url_suffix"]

# import all 1_tournament CSVs from 1877 - 2019

folder_name = 'atp-world-tour-tennis-data/csv/2_match_scores/'
file_type = 'csv'
seperator =','
df = pd.concat([pd.read_csv(f, sep=seperator, header=None) for f in glob.glob(folder_name + "/*."+file_type)], ignore_index=True)
df.columns = HEADERS

In [56]:
df.head(4)

,tourney_year_id,tourney_order,tourney_name,tourney_slug,tourney_url_suffix,start_date,start_year,start_month,start_day,end_date,...,loser_seed,match_score_tiebreaks,winner_sets_won,loser_sets_won,winner_games_won,loser_games_won,winner_tiebreaks_won,loser_tiebreaks_won,match_id,match_stats_url_suffix
0,2010-339,1,Brisbane,brisbane,/en/scores/archive/brisbane/339/2010/results,2010.01.03,2010.0,1.0,3.0,2010.01.10,...,2,76(2) 76(7),2.0,0.0,14.0,12.0,2.0,0.0,2010-339-MS001-8-1-r485-s694,/en/scores/2010/339/MS001/match-stats?isLive=F...
1,2010-339,1,Brisbane,brisbane,/en/scores/archive/brisbane/339/2010/results,2010.01.03,2010.0,1.0,3.0,2010.01.10,...,4,16 63 64,2.0,1.0,13.0,13.0,0.0,0.0,2010-339-MS002-7-2-r485-ba47,/en/scores/2010/339/MS002/match-stats?isLive=F...
2,2010-339,1,Brisbane,brisbane,/en/scores/archive/brisbane/339/2010/results,2010.01.03,2010.0,1.0,3.0,2010.01.10,...,3,62 61,2.0,0.0,12.0,3.0,0.0,0.0,2010-339-MS003-7-1-s694-mc65,/en/scores/2010/339/MS003/match-stats?isLive=F...
3,2010-339,1,Brisbane,brisbane,/en/scores/archive/brisbane/339/2010/results,2010.01.03,2010.0,1.0,3.0,2010.01.10,...,NaN,63 76(5),2.0,0.0,13.0,9.0,1.0,0.0,2010-339-MS004-6-4-r485-g628,/en/scores/2010/339/MS004/match-stats?isLive=F...

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203470 entries, 0 to 203469
Data columns (total 36 columns):
tourney_year_id           203470 non-null object
tourney_order             203470 non-null int64
tourney_name              203470 non-null object
tourney_slug              203470 non-null object
tourney_url_suffix        203470 non-null object
start_date                191249 non-null object
start_year                191249 non-null float64
start_month               191249 non-null float64
start_day                 191249 non-null float64
end_date                  191249 non-null object
end_year                  191249 non-null float64
end_month                 191249 non-null float64
end_day                   191249 non-null float64
currency                  173747 non-null object
prize_money               173747 non-null float64
match_index               104307 non-null object
tourney_round_name        203470 non-null object
round_order               203470 non-null int64
match_order               203470 non-null int64
winner_name               203470 non-null object
winner_player_id          203470 non-null object
winner_slug               203470 non-null object
loser_name                203470 non-null object
loser_player_id           203470 non-null object
loser_slug                203470 non-null object
winner_seed               99069 non-null object
loser_seed                71102 non-null object
match_score_tiebreaks     203470 non-null object
winner_sets_won           200960 non-null float64
loser_sets_won            200960 non-null float64
winner_games_won          200960 non-null float64
loser_games_won           200960 non-null float64
winner_tiebreaks_won      200960 non-null float64
loser_tiebreaks_won       200960 non-null float64
match_id                  203470 non-null object
match_stats_url_suffix    104307 non-null object
dtypes: float64(13), int64(3), object(20)
memory usage: 55.9+ MB

In [58]:
# sparsity percentage of each column for tournaments data

df.isna().mean().round(4) * 100

tourney_year_id            0.00
tourney_order              0.00
tourney_name               0.00
tourney_slug               0.00
tourney_url_suffix         0.00
start_date                 6.01
start_year                 6.01
start_month                6.01
start_day                  6.01
end_date                   6.01
end_year                   6.01
end_month                  6.01
end_day                    6.01
currency                  14.61
prize_money               14.61
match_index               48.74
tourney_round_name         0.00
round_order                0.00
match_order                0.00
winner_name                0.00
winner_player_id           0.00
winner_slug                0.00
loser_name                 0.00
loser_player_id            0.00
loser_slug                 0.00
winner_seed               51.31
loser_seed                65.06
match_score_tiebreaks      0.00
winner_sets_won            1.23
loser_sets_won             1.23
winner_games_won           1.23
loser_games_won            1.23
winner_tiebreaks_won       1.23
loser_tiebreaks_won        1.23
match_id                   0.00
match_stats_url_suffix    48.74
dtype: float64

## Match Stats Data

In [59]:
HEADERS=["match_id",
        "tourney_slug",
        "match_stats_url_suffix",
        "match_time",
        "match_duration",
        "winner_slug",
        "winner_serve_rating",
        "winner_aces",
        "winner_double_faults",
        "winner_first_serves_in",
        "winner_first_serves_total",
        "winner_first_serve_points_won",
        "winner_first_serve_points_total",
        "winner_second_serve_points_won",
        "winner_second_serve_points_total",
        "winner_break_points_saved",
        "winner_break_points_serve_total",
        "winner_service_games_played",
        "winner_return_rating",
        "winner_first_serve_return_won",
        "winner_first_serve_return_total",
        "winner_second_serve_return_won",
        "winner_second_serve_return_total",
        "winner_break_points_converted",
        "winner_break_points_return_total",
        "winner_return_games_played",
        "winner_service_points_won",
        "winner_service_points_total",
        "winner_return_points_won",
        "winner_return_points_total",
        "winner_total_points_won",
        "winner_total_points_total",
        "loser_slug",
        "loser_serve_rating",
        "loser_aces",
        "loser_double_faults",
        "loser_first_serves_in",
        "loser_first_serves_total",
        "loser_first_serve_points_won",
        "loser_first_serve_points_total",
        "loser_second_serve_points_won",
        "loser_second_serve_points_total",
        "loser_break_points_saved",
        "loser_break_points_serve_total",
        "loser_service_games_played",
        "loser_return_rating",
        "loser_first_serve_return_won",
        "loser_first_serve_return_total",
        "loser_second_serve_return_won",
        "loser_second_serve_return_total",
        "loser_break_points_converted",
        "loser_break_points_return_total",
        "loser_return_games_played",
        "loser_service_points_won",
        "loser_service_points_total",
        "loser_return_points_won",
        "loser_return_points_total",
        "loser_total_points_won",
        "loser_total_points_total"]

# import all 1_tournament CSVs from 1877 - 2019

folder_name = 'atp-world-tour-tennis-data/csv/3_match_stats/'
file_type = 'csv'
seperator =','
df = pd.concat([pd.read_csv(f, sep=seperator, header=None) for f in glob.glob(folder_name + "/*."+file_type)], ignore_index=True)
df.columns = HEADERS

In [60]:
df.head(4)

,match_id,tourney_slug,match_stats_url_suffix,match_time,match_duration,winner_slug,winner_serve_rating,winner_aces,winner_double_faults,winner_first_serves_in,...,loser_second_serve_return_total,loser_break_points_converted,loser_break_points_return_total,loser_return_games_played,loser_service_points_won,loser_service_points_total,loser_return_points_won,loser_return_points_total,loser_total_points_won,loser_total_points_total
0,2000-451-MS001-5-1-s424-s636,doha,/en/scores/2000/451/MS001/match-stats?isLive=F...,01:58:00,118.0,s424,242.0,3.0,0.0,44.0,...,30.0,4.0,6.0,12.0,45.0,85.0,31.0,74.0,76.0,159.0
1,2000-451-MS002-4-2-s424-k316,doha,/en/scores/2000/451/MS002/match-stats?isLive=F...,01:39:00,99.0,s424,264.0,2.0,1.0,38.0,...,29.0,2.0,7.0,11.0,37.0,70.0,25.0,67.0,62.0,137.0
2,2000-451-MS003-4-1-s636-e121,doha,/en/scores/2000/451/MS003/match-stats?isLive=F...,02:35:00,155.0,s636,274.0,1.0,3.0,71.0,...,29.0,2.0,8.0,16.0,73.0,123.0,35.0,100.0,108.0,223.0
3,2000-451-MS004-3-4-k316-s572,doha,/en/scores/2000/451/MS004/match-stats?isLive=F...,01:07:00,67.0,k316,288.0,4.0,1.0,35.0,...,19.0,0.0,4.0,7.0,16.0,40.0,18.0,54.0,34.0,94.0

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104307 entries, 0 to 104306
Data columns (total 59 columns):
match_id                            104307 non-null object
tourney_slug                        104307 non-null object
match_stats_url_suffix              104307 non-null object
match_time                          104004 non-null object
match_duration                      104004 non-null float64
winner_slug                         104004 non-null object
winner_serve_rating                 104004 non-null float64
winner_aces                         104004 non-null float64
winner_double_faults                104004 non-null float64
winner_first_serves_in              104004 non-null float64
winner_first_serves_total           104004 non-null float64
winner_first_serve_points_won       104004 non-null float64
winner_first_serve_points_total     104004 non-null float64
winner_second_serve_points_won      104004 non-null float64
winner_second_serve_points_total    104004 non-null float64
winner_break_points_saved           104004 non-null float64
winner_break_points_serve_total     104004 non-null float64
winner_service_games_played         104004 non-null float64
winner_return_rating                104004 non-null float64
winner_first_serve_return_won       104004 non-null float64
winner_first_serve_return_total     104004 non-null float64
winner_second_serve_return_won      104004 non-null float64
winner_second_serve_return_total    104004 non-null float64
winner_break_points_converted       104004 non-null float64
winner_break_points_return_total    104004 non-null float64
winner_return_games_played          104004 non-null float64
winner_service_points_won           104004 non-null float64
winner_service_points_total         104004 non-null float64
winner_return_points_won            104004 non-null float64
winner_return_points_total          104004 non-null float64
winner_total_points_won             104004 non-null float64
winner_total_points_total           104004 non-null float64
loser_slug                          104004 non-null object
loser_serve_rating                  104004 non-null float64
loser_aces                          104004 non-null float64
loser_double_faults                 104004 non-null float64
loser_first_serves_in               104004 non-null float64
loser_first_serves_total            104004 non-null float64
loser_first_serve_points_won        104004 non-null float64
loser_first_serve_points_total      104004 non-null float64
loser_second_serve_points_won       104004 non-null float64
loser_second_serve_points_total     104004 non-null float64
loser_break_points_saved            104004 non-null float64
loser_break_points_serve_total      104004 non-null float64
loser_service_games_played          104004 non-null float64
loser_return_rating                 104004 non-null float64
loser_first_serve_return_won        104004 non-null float64
loser_first_serve_return_total      104004 non-null float64
loser_second_serve_return_won       104004 non-null float64
loser_second_serve_return_total     104004 non-null float64
loser_break_points_converted        104004 non-null float64
loser_break_points_return_total     104004 non-null float64
loser_return_games_played           104004 non-null float64
loser_service_points_won            104004 non-null float64
loser_service_points_total          104004 non-null float64
loser_return_points_won             104004 non-null float64
loser_return_points_total           104004 non-null float64
loser_total_points_won              104004 non-null float64
loser_total_points_total            104004 non-null float64
dtypes: float64(53), object(6)
memory usage: 47.0+ MB

In [62]:
# sparsity percentage of each column for tournaments data

df.isna().mean().round(4) * 100

match_id                            0.00
tourney_slug                        0.00
match_stats_url_suffix              0.00
match_time                          0.29
match_duration                      0.29
winner_slug                         0.29
winner_serve_rating                 0.29
winner_aces                         0.29
winner_double_faults                0.29
winner_first_serves_in              0.29
winner_first_serves_total           0.29
winner_first_serve_points_won       0.29
winner_first_serve_points_total     0.29
winner_second_serve_points_won      0.29
winner_second_serve_points_total    0.29
winner_break_points_saved           0.29
winner_break_points_serve_total     0.29
winner_service_games_played         0.29
winner_return_rating                0.29
winner_first_serve_return_won       0.29
winner_first_serve_return_total     0.29
winner_second_serve_return_won      0.29
winner_second_serve_return_total    0.29
winner_break_points_converted       0.29
winner_break_points_return_total    0.29
winner_return_games_played          0.29
winner_service_points_won           0.29
winner_service_points_total         0.29
winner_return_points_won            0.29
winner_return_points_total          0.29
winner_total_points_won             0.29
winner_total_points_total           0.29
loser_slug                          0.29
loser_serve_rating                  0.29
loser_aces                          0.29
loser_double_faults                 0.29
loser_first_serves_in               0.29
loser_first_serves_total            0.29
loser_first_serve_points_won        0.29
loser_first_serve_points_total      0.29
loser_second_serve_points_won       0.29
loser_second_serve_points_total     0.29
loser_break_points_saved            0.29
loser_break_points_serve_total      0.29
loser_service_games_played          0.29
loser_return_rating                 0.29
loser_first_serve_return_won        0.29
loser_first_serve_return_total      0.29
loser_second_serve_return_won       0.29
loser_second_serve_return_total     0.29
loser_break_points_converted        0.29
loser_break_points_return_total     0.29
loser_return_games_played           0.29
loser_service_points_won            0.29
loser_service_points_total          0.29
loser_return_points_won             0.29
loser_return_points_total           0.29
loser_total_points_won              0.29
loser_total_points_total            0.29
dtype: float64